// Form select.
//
// By state:
//
// .select_focused - Used when the select is focused.
// .select_disabled - Used when the select is disabled.
//
// By type:
//
// .select_block - To ensure the select occupy the all available width.
//
// By size:
//
// .select_size_l - Used for large select.


.select {
  #palette;

  position: relative;
  display: inline-block;

  vertical-align: bottom;

  min-width: 12em;


  &_size_l {
    font-size: 1.2em;
  }


  &_block {
    width: 100%;
  }
}


.select__control {
  #palette;

  display: block;
  width: 100%;
  min-height: 2em;
  margin: 0;

  // Reserve some space for tick symbol.
  padding: 0 @unit 0 @unit/4;

  color: @c6;
  background-color: @c0;
  border: solid 1px @c8;
  border-radius: 0;

  cursor: pointer;
  outline: none;
  appearance: none;


  &[disabled],
  .select_disabled & {
    background-color: @c1;
  }


  &:focus,
  .select_focused & {
    border-color: @c2;
    box-shadow: 0 0 0 1px @c2;
  }
}


.select__tick {
  #palette;

  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: @unit/2;
  margin: 0 @unit/4;

  background: 50% no-repeat;
  background-image: url(~'data:image/svg+xml,<svg class="i i-arrow-down" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 129 129"><path d="m121.3,34.6c-1.6-1.6-4.2-1.6-5.8,0l-51,51.1-51.1-51.1c-1.6-1.6-4.2-1.6-5.8,0-1.6,1.6-1.6,4.2 0,5.8l53.9,53.9c0.8,0.8 1.8,1.2 2.9,1.2 1,0 2.1-0.4 2.9-1.2l53.9-53.9c1.7-1.6 1.7-4.2 0.1-5.8z"/></svg>');

  transition: .1s ease-out;

  text-align: center;

  pointer-events: none;
}
