// Default dietify theme for select


#select_theme_dietify {
  @b: white;
  @bs: rgba(0,0,0,.3);
  @bs_focused: #666;
  @bs_invalid: #e32222;
}


.select_theme_dietify {
  #select_theme_dietify;

  .dropdown-toggle {
    border-radius: 0;
    border-color: @bs;
    background-color: @b;
  }

  &.select_invalid {
    box-shadow:
            0 0 0 1px @bs_invalid,
      inset 0 0 0 1px @bs_invalid;

    .dropdown-toggle {
      border-color: @bs_invalid;
    }
  }
}

.select_hide_clear_button {
  .dropdown-toggle .clear {
    display: none;
  }
}
