.blank {

  padding-top: @unit;
  padding-bottom: @unit;

  &__title {
    font-size: @classy-h1-size;
    font-weight: normal;
  }

  &_text_align_center {
    text-align: center;
  }

  &_align_center {
    position: absolute;
    top: 50%;
    left: @unit;
    right: @unit;
    transform: translateY(-50%);
  }
}
