// Base dietify theme for input
//
// .input_theme_dietify - Dietify theme


#input_theme_dietify {
  @b: rgba(0,0,0,.3);
  @bs: rgba(0,0,0,.3);
  @bs_focused: #666;
  @bs_invalid: #e32222;
}


.input_theme_dietify {
  #input_theme_dietify;


  padding: @unit/4 @unit/2;

  background-color: @b;


  &.input_focused {
    box-shadow:
            0 0 0 1px @bs_focused,
      inset 0 0 0 1px @bs_focused;
  }


  &.input_invalid {
    box-shadow:
            0 0 0 1px @bs_invalid,
      inset 0 0 0 1px @bs_invalid;
  }
}
