// Base link styles.


.link {
  #palette;

  cursor: pointer;
  display: inline-block;

  color: @c8;

  // Use border to underline links instead of text decoration.
  text-decoration: none;
  border-bottom: solid 1px @c8;
}
