// Contains essential project-specific variables. Feel free to pick up
// your custom values.

// Classy namespace.
@classy-namespace: ~"";

// Set the base font size to user's value (16px by default in all major
// browsers).
@classy-base-font-size: 16px;

// Set the line height for better bodycopy readability.
@classy-line-height:  1.4em;

// Use unitless value of `classy-line-height` as `classy-line-height-ratio`
// because we set it in ems.
@classy-line-height-ratio: unit(@classy-line-height);

// Uses as the base unit to aligning elements.
@classy-unit: @classy-line-height;

@classy-small-font-size: .85em;
@small-font-size: @classy-small-font-size;
@classy-lead-font-size: 1.25em;

// Fonts in use.
@classy-serif-font-family:      Georgia, "Times New Roman", Times, serif;
@classy-sans-serif-font-family: Arial, Tahoma, sans-serif;
@classy-monospace-font-family:  Menlo, Monaco, "Courier New", monospace;


// Prefix-less aliases to essential classy variables.


// Disable aliases for media queries.
@classy-alias-media-queries: false;


// Units.
@base-font-size:         @classy-base-font-size;
@line-height:            @classy-line-height;
@line-height-ratio:      @classy-line-height-ratio;
@unit:                   @classy-unit;


// Fonts.
@serif-font-family:      @classy-serif-font-family;
@sans-serif-font-family: @classy-sans-serif-font-family;
@monospace-font-family:  @classy-monospace-font-family;


// Define aliases to media queries only when flag is set.
.classy-alias-media-queries() when (@classy-alias-media-queries) {

    // Breakpoints.
    @palm-to:        @classy-palm-to;
    @tablet-from:    @classy-tablet-from;
    @tablet-to:      @classy-tablet-to;
    @laptop-from:    @classy-laptop-from;
    @laptop-to:      @classy-laptop-to;
    @desktop-from:   @classy-desktop-from;


    // Media queries.
    @portrait:      @classy-portrait;
    @landscape:     @classy-landscape;
    @retina:        @classy-retina;
    @mobile:        @classy-mobile;
    @tablet:        @classy-tablet;
    @tablet-and-up: @classy-tablet-and-up;
    @portable:      @classy-portable;
    @laptop:        @classy-laptop;
    @laptop-and-up: @classy-laptop-and-up;
    @desktop:       @classy-desktop;
}
.classy-alias-media-queries() when (default()) {};
.classy-alias-media-queries();



#palette {
  @c0: #fff;
  @c1: #f9f7f5;
  @c2: #6ecf96; // green
  @c3: #705dbd; // splash
  @c4: #9b50e0; // magenta
  @c5: #E32222; // red
  @c6: #2e9cdc; // blue
  @c7: #333333; // dark gray
  @c8: #828282; // gray
  @c9: #2c3e50; // black
}
