// Main dietify theme for buttons.


.button_theme_dietify {
  #palette;

  background: @c2;
  border-radius: .2em;
  border: solid 1px @c2;
  color: @c0;

  // Apply smooth transition to padding.
  transition: .3s cubic-bezier(.175,.885,.320,1.275) padding;

  // Prevents text selection in buttons.
  user-select: none;
}
