<template>
  <main-layout class="l-page_nowrap">
    <section class="l-page__main barcode">
      <navbar class="l-page__navbar"></navbar>

      <div class="l-page__wrapper">
        <article class="blank blank_align_center blank_text_align_center">
          <h1 class="blank__title h1">
            Sorry, camera is not available
          </h1>

          <template v-if="!showForm">
            <Button
              class="barcode__button"
              @click.native="showForm = true"
            >
              Input manually
            </Button>

            <Product
              v-if="productInfo"
              class="barcode__product"
              :product="product" />
          </template>

          <template v-else>
            <form class="form barcode__form">
              <div class="form__line">
                <Input
                  type="barcode"
                  name="barcode"
                  :value="form.barcode"
                  v-model="form.barcode"
                  label="Please, input barcode manually"
                  placeholder="Your barcode"
                  validators="required"
                />
              </div>

              <Button
                class="barcode__submit"
                :disabled="!form.barcode"
                @click.native.prevent="submitBarcode"
              >
                Scan barcode
              </Button>
            </form>
          </template>
        </article>
      </div>
    </section>

    <footer-nav class="l-page__footer"></footer-nav>
  </main-layout>
</template>

<script>
import Button from '../components/Button.vue'
import FooterNav from '../components/FooterNav.vue'
import Input from '../components/Input.vue'
import MainLayout from '../layouts/Main.vue'
import Navbar from '../components/Navbar.vue'
import Product from '../components/Product.vue'

export default {
  components: {
    Button,
    FooterNav,
    Input,
    MainLayout,
    Navbar,
    Product
  },

  data: () => ({
    showForm: false,
    productInfo: null,
    form: {
      barcode: null
    }
  }),

  computed: {
    product () {
      return {
        id: this.productInfo.product_name,
        name: this.productInfo.product_name,
        fats_100g: this.productInfo.fats_100g || 0,
        proteins_100g: this.productInfo.proteins_100g || 0,
        carbohydrates_100g: this.productInfo.carbohydrates_100g || 0
      }
    }
  },

  methods: {
    submitBarcode () {
      return this.$http.get('api/product/barcode/' + this.form.barcode).then(res => {
        this.productInfo = res.body
        this.showForm = false
      }).catch(err => {
        console.log(err)
        this.showForm = false
      })
    }
  }
}
</script>

<style lang="less" scoped>
@import '../styles/vars';
@import '~classy-heading/heading';

.barcode {
  display: flex;
  align-items: center;

  &__product {
    margin-top: 2*@unit;

    text-align: left;
  }
}
</style>
