<template>
  <main-layout class="l-page_nowrap">
    <section class="l-page__main diet">
      <navbar class="l-page__navbar"></navbar>

      <div class="l-page__wrapper">
        <h1 class="diet__h1 h1">Diet</h1>

        <main class="diet__main">
          <p class="diet__lead">
            Select a schedule to list available products
          </p>

          <form
            class="form"
          >
            <div class="form__line">
              <Select
                v-model="scheduleType"
                name="scheduleType"
                validators="required"
                :options="scheduleTypeOptions"
                @input="loadProducts"
              />
            </div>
          </form>

          <template v-if="scheduleType">
            <ul
              class="list diet__list"
              v-if="products.length"
            >
              <li
                v-for="product in products"
                :key="product.id"
                class="list__item diet__item">
                <Product
                  :product="product"
                >
                </Product>
              </li>
            </ul>

            <article
              v-if="scheduleType && products.length === 0"
              class="diet__blank blank blank_align_center blank_text_align_center">
              <h1 class="blank__title">
                Sorry, no available products found :(
              </h1>
            </article>
          </template>
        </main>
      </div>
    </section>

    <footer-nav class="l-page__footer"></footer-nav>
  </main-layout>
</template>

<script>
import MainLayout from '../layouts/Main.vue'
import FooterNav from '../components/FooterNav.vue'
import Navbar from '../components/Navbar.vue'
import Select from '../components/Select.vue'
import Product from '../components/Product.vue'
import constants from '../constants'

const { scheduleTypeOptions } = constants

export default {
  components: {
    Navbar,
    FooterNav,
    MainLayout,
    Select,
    Product
  },

  data: () => ({
    scheduleType: null,
    scheduleTypeOptions,
    products: []
  }),

  methods: {
    loadProducts () {
      if (this.scheduleType) {
        return this.$http.get('api/product/menu/' + this.scheduleType.value).then(res => {
          this.products = res.body.map(p => ({
            id: p.id,
            name: p.name,
            fats_100g: p.fats,
            proteins_100g: p.proteins,
            carbohydrates_100g: p.carbohydrates
          }))
        })
      }
    }
  }
}
</script>

<style lang="less" scoped>
@import '../styles/vars';
@import '~classy-list/list';
@import '~classy-heading/heading';

.diet {

  &__blank {
    padding-top: 3*@unit;
    padding-bottom: 3*@unit;
  }

  &__list {
    padding-left: 0;
    list-style: none;
  }

  &__item {
    margin-bottom: @unit/2;
  }
}
</style>
