<template>
  <main-layout>
    <transition
      appear @leave="leaveEl"
      v-on:after-appear="leaveEl"
    >
      <load-screen></load-screen>
    </transition>
  </main-layout>
</template>

<script>
import MainLayout from '../layouts/Main.vue'
import LoadScreen from '../components/LoadScreen.vue'

export default {
  components: {
    MainLayout,
    LoadScreen
  },

  methods: {
    leaveEl (el) {
      setTimeout(() => this.$router.push('/login'), 1000)
    }
  }
}
</script>

<style lang="less" scoped>
</style>
