<template>
  <main-layout>
    <section class="login">
      <router-link to="/" class="link login__logo">
        <Identity class="login__identity"/>
      </router-link>

      <form
        class="form"
        novalidate=true
        @submit.prevent="login"
      >
        <div class="form__line">
          <Input
            type="email"
            name="email"
            :value="form.email"
            v-model="form.email"
            placeholder="Email"
            validators="required|email"
          />
        </div>

        <div class="form__line">
          <Input
            type="password"
            name="password"
            v-model="form.password"
            :value="form.password"
            placeholder="Password"
            validators="required"
          />
        </div>

        <div class="login__footer">
          <div class="login__submit">
            <Button class="login__button">
              Login
            </Button>
          </div>

          <router-link
            to="signup"
            class="link login__away"
          >
            or create new account
          </router-link>
        </div>
      </form>

    </section>
  </main-layout>
</template>

<script>
import MainLayout from '../layouts/Main.vue'
import Button from '../components/Button.vue'
import Identity from '../components/Identity.vue'
import Input from '../components/Input.vue'

export default {
  components: {
    Button,
    Identity,
    Input,
    MainLayout
  },

  data () {
    return {
      form: {
        email: null,
        password: null
      }
    }
  },

  methods: {
    login () {
      const redirect = this.$auth.redirect()

      this.$auth.login({
        body: {
          email: this.form.email,
          password: this.form.password
        },
        redirect: { name: redirect ? redirect.from.name : 'stats' },
        fetchUser: false,
        rememberMe: true,
        success (res) {
          console.log('login success')
          this.$auth.token('default_auth_token', res.data.token)
        }
      })
    }
  }
}
</script>

<style lang="less" scoped>
@import '../styles/vars';

.login {
  #palette;

  &__footer {
    // Apply consistent padding to easy breeze.
    padding-top: @unit;
    padding-bottom: @unit;

    // Align button and away link to center of the container.
    text-align: center;
  }

  &__submit {
    margin-bottom: @unit/2;
  }

  &__button {
    // Ensure the button occupies biggest part of the container
    width: 80%;
    min-width: 80%;
  }

  &__away {}

  &__logo {
    color: @c7;
    border-bottom: none;
  }

  &__identity {
    width: 60%;
    height: auto;
    display: block;
    margin: 2*@unit auto;
  }
}
</style>
