<template>
  <main-layout class="l-page_nowrap">
    <section class="l-page__main menu">
      <navbar class="l-page__navbar"></navbar>

      <div class="l-page__wrapper">
        <main class="menu__main">
          <h1 class="menu__h1 h1">Daily Intake</h1>

          <Button
            v-if="!showProductForm && products.length"
            class="button button_theme_dietify menu__button menu__button_eat"
            @click.native="showProductForm = true"
          >
            Eat something
          </Button>

          <form
            v-if="showProductForm"
            class="form menu__form"
            @submit.prevent="eatProduct"
          >
            <div class="form__line">
              <Select
                name="scheduleType"
                label="When are you going to eat?"
                validators="required"
                v-model="form.scheduleType"
                :options="scheduleTypeOptions"
                @input="loadProducts(form.scheduleType)"
              />
            </div>

            <div class="form__line">
              <Select
                name="productId"
                label="What are you going to eat?"
                validators="required"
                v-model="form.product"
                :options="suitableProductsOptions"
                class="select select_block select_theme_dietify"
              />
            </div>

            <div class="form__line">
              <Input
                name="amount"
                :value="form.amount"
                v-model="form.amount"
                label="How much you going to eat? (in grams)"
                placeholder="How much"
                validators="required|numeric"
              />
            </div>

            <Button
              class="button button_theme_dietify menu__button menu__button_submit"
            >
              Eat selected
            </Button>
          </form>

          <template v-if="products.length === 0 && !showProductForm">
            <article class="menu__blank blank blank_text_align_center">
              <h1 class="blank__title">
                You eat nothing today
              </h1>

              <Button
                class="button button_theme_dietify
                menu__button menu__button_blank"
                @click.native="showProductForm = true"
              >
                Eat something
              </Button>

            </article>
          </template>

          <template v-else>
            <ul
              class="list menu__list"
            >
              <li
                v-for="product in products"
                :key="product.id"
                class="list__item menu__item">
                <Product
                  :product="product"
                >
                </Product>
              </li>
            </ul>
          </template>
        </main>
      </div>
    </section>

    <footer-nav class="l-page__footer"></footer-nav>
  </main-layout>
</template>

<script>
import MainLayout from '../layouts/Main.vue'
import FooterNav from '../components/FooterNav.vue'
import Navbar from '../components/Navbar.vue'
import Product from '../components/Product.vue'
import Button from '../components/Button.vue'
import Input from '../components/Input.vue'
import Select from '../components/Select.vue'
import constants from '../constants'

const { scheduleTypeOptions } = constants

export default {
  components: {
    Navbar,
    FooterNav,
    MainLayout,
    Product,
    Button,
    Input,
    Select
  },

  data: () => ({
    scheduleTypeOptions,
    form: {
      product: null,
      scheduleType: null,
      amount: null
    },
    showProductForm: false,
    suitableProducts: [],
    eattenProducts: []
  }),

  computed: {
    suitableProductsOptions () {
      return this.suitableProducts.map(p => ({
        label: p.name,
        value: p.id
      }))
    },

    products: function () {
      return this.eattenProducts.map(p => ({
        id: p.id,
        amount: p.count,
        name: p.product.name,
        fats_100g: p.product.fats,
        proteins_100g: p.product.proteins,
        carbohydrates_100g: p.product.carbohydrates
      }))
    }
  },

  methods: {
    eatProduct () {
      const data = {
        productId: this.form.product.value,
        count: this.form.amount
      }

      return this.$http.post('api/product-instance/', data).then(() => {
        this.showProductForm = false
        this.loadEatenProducts()
      })
    },

    loadEatenProducts () {
      return this.$http.get('api/product-instance/').then(res => {
        this.eattenProducts = res.body
      })
    },

    loadProducts (scheduleType) {
      if (scheduleType) {
        return this.$http.get('api/product/menu/' + scheduleType.value).then(res => {
          this.suitableProducts = res.body
        })
      }
    }
  },

  mounted () {
    this.loadEatenProducts()
  }
}
</script>

<style lang="less" scoped>
@import '../styles/vars';
@import '~classy-list/list';
@import '~classy-heading/heading';

.menu {

  &__h1 {}

  &__main {}

  &__list {
    padding-left: 0;
    list-style: none;
  }

  &__item {
    margin-bottom: @unit/2;
  }

  &__form {
    margin-bottom: 2*@unit;
  }

  &__blank {
    margin-top: 2*@unit;
  }

  &__button {
  }
}
</style>
