<template>
  <main-layout class="l-page_nowrap">
    <section class="l-page__main profile">
      <navbar class="l-page__navbar"></navbar>

      <header class="profile__header">
        <div class="profile__avatar"></div>
      </header>

      <main class="profile__main">
        <div class="l-page__wrapper">
          <h1 class="profile__name h1">
            {{ user.name }}

            <form
              class="form profile__form"
            >
              <div class="form__line">
                <Select
                  v-model="dietType"
                  name="dietType"
                  validators="required"
                  :options="dietTypeOptions"
                  class="profile__select"
                  @input="setDiet"
                />
              </div>
            </form>
          </h1>

          <div class="l-profile__line">
            <div class="l-profile__stats profile__stats">
              <CalorieUsed
                class="profile__calorie"
                :calorieUsed="calorie.used"
              />

              <DietParts
                class="profile__diet"
                :parts="dietParts"
              />
            </div>

            <div
              class="l-profile__chart profile__chart">
              <CalorieChart
                class="profile__doughnut"
                :chartData="chartData" />

              <strong class="profile__calorieusedinpercent">
                {{ calorieUsedInPercent }}&thinsp;%
              </strong>

              <div class="profile__calorieusedinpercenttext">
                calories taken today
              </div>
            </div>
          </div>
        </div>
      </main>
    </section>

    <footer-nav class="l-page__footer"></footer-nav>
  </main-layout>
</template>

<script>
import MainLayout from '../layouts/Main.vue'
import FooterNav from '../components/FooterNav.vue'
import Navbar from '../components/Navbar.vue'
import CalorieUsed from '../components/ProfileCalorieUsed.vue'
import CalorieChart from '../components/CalorieChart.vue'
import DietParts from '../components/ProfileDietParts.vue'
import Select from '../components/Select.vue'

import constants from '../constants'

const { dietTypeOptions } = constants

export default {
  components: {
    Navbar,
    MainLayout,
    FooterNav,
    CalorieChart,
    CalorieUsed,
    DietParts,
    Select
  },

  data: () => ({
    dietTypeOptions,

    user: {
      name: null,
      dietId: null
    },

    calorie: {
      total: 100,
      used: 0
    },

    dashboard: {
      proteins: {
        total: 100,
        used: 0
      },
      fats: {
        total: 100,
        used: 0
      },
      carbohydrates: {
        total: 100,
        used: 0
      }
    }
  }),

  computed: {
    dietType: {
      get () {
        const dietType = dietTypeOptions.find(
          type => type.value === this.user.dietId
        )
        return dietType
      },

      set (dietType) {
        if (dietType) {
          this.user.dietId = dietType.value
        }
      }
    },

    calorieUsedInPercent () {
      return Math.floor((this.calorie.used / this.calorie.total) * 100)
    },

    dietParts () {
      return [
        { name: 'Proteins', value: this.dashboard.proteins.used },
        { name: 'Fats', value: this.dashboard.fats.used },
        { name: 'Carbohydrates', value: this.dashboard.carbohydrates.used }
      ]
    },

    chartData () {
      return {
        datasets: [
          {
            data: [this.calorie.used, (this.calorie.total - this.calorie.used)],
            backgroundColor: ['#705dbd', '#2e9cdc64']
          }
        ]
      }
    }
  },

  methods: {
    loadProfile () {
      return this.$http.get('api/user').then(res => { this.user = res.body })
    },

    loadDashboard () {
      return this.$http.get('api/user/calorie').then(res => {
        const { calorie, dashboard } = res.body

        this.calorie = calorie
        this.dashboard = dashboard
      })
    },

    setDiet (dietType) {
      if (dietType) {
        return this.$http.put('api/user/diet/' + dietType.value, {})
      }
    }
  },

  mounted () {
    this.loadProfile()
    this.loadDashboard()
  }
}
</script>

<style lang="less" scoped>
@import '../styles/vars';

.profile {
  #palette;

  @x: 6em;

  &__header {
    position: relative;
    height: 7em;

    background-color: @c6;
    margin-bottom: @x/2;
  }

  &__avatar {
    position: absolute;
    width: @x;
    height: @x;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: @c8;
    border-radius: 50%;
    border: solid 2px @c0;
  }

  &__name {
    padding-top: @unit/4;
    padding-bottom: @unit/4;

    text-align: center;
  }

  &__chart {
    text-align: center;
  }

  &__calorie {
    display: block;
    padding: @unit/2;

    text-align: center;

    background-color: @c0;
  }

  &__calorieusedinpercent {
    display: block;
    margin-top: @unit/2;

    font-size: 2em;
    line-height: 1.4;
  }

  &__calorieusedinpercenttext {
    font-size: @classy-small-font-size;
    color: @c7;
  }

  &__form {
    font-size: .8em;
    font-weight: normal;
  }

  &__select {
    font-size: .8em;
  }
}

.l-profile {

  &__line {
    display: flex;
    flex-direction: row;
  }

  &__stats {
    width: 50%;
    margin-right: 2%;
  }

  &__chart {
    width: 48%;
  }
}
</style>
