<template>
  <main-layout>
    <section class="signup l-page__main">
      <h1 class="h1">Registration</h1>

      <form
        class="form"
        novalidate=true
      >
        <div class="form__line">
          <Input
            type="email"
            name="email"
            :value="form.email"
            v-model="form.email"
            label="Email"
            placeholder="Your email"
            validators="required|email"
          />
        </div>

        <div class="form__line">
          <Input
            type="password"
            name="password"
            :value="form.password"
            v-model="form.password"
            label="Password"
            placeholder="Your password"
            validators="required"
          />
        </div>

        <div class="form__line">
          <Input
            name="name"
            :value="form.name"
            v-model="form.name"
            label="What's your name?"
            placeholder="Your name"
            validators="required"
          />
        </div>

        <div class="form__line">
          <Input
            name="age"
            :value="form.age"
            v-model="form.age"
            label="How old are you?"
            placeholder="Your age"
            validators="required|numeric"
          />
        </div>

        <div class="form__line">

          <div class="l-signup__flex">
            <div class="l-signup__col">
              <Input
                name="weight"
                :value="form.weight"
                v-model="form.weight"
                label="Weight"
                placeholder="75"
                validators="required|numeric"
              />
            </div>

            <div class="l-signup__col">
              <Input
                name="height"
                label="Height"
                :value="form.height"
                v-model="form.height"
                placeholder="173"
                validators="required|numeric"
              />
            </div>
          </div>
        </div>

        <div class="form__line">
          <Select
            label="Your Sex"
            validators="required"
            :options="genderTypeOptions"
            v-model="form.genderType"
            name="genderType"
          />
        </div>

        <div class="form__line">
          <Select
            label="Your Life Style"
            validators="required"
            :options="lifeStyleTypeOptions"
            v-model="form.lifeStyleType"
            name="lifeStyleType"
          />
        </div>

        <div class="form__line">
          <Select
            label="Your Diet Type"
            validators="required"
            v-model="form.dietType"
            name="dietType"
            :options="dietTypeOptions"
          />
        </div>

      </form>
    </section>

    <footer class="l-page__footer signup__footer">
      <div class="signup__submit">
        <Button
          class="signup__button"
          :disabled="formInvalid"
          @click.native="proceedSignup"
        >
          Create account
        </Button>
      </div>
    </footer>
  </main-layout>
</template>

<script>
import MainLayout from '../layouts/Main.vue'
import Button from '../components/Button.vue'
import Input from '../components/Input.vue'
import Select from '../components/Select.vue'
import router from '../router'
import constants from '../constants'

const { dietTypeOptions, lifeStyleTypeOptions, genderTypeOptions } = constants

export default {
  components: {
    Button,
    Input,
    MainLayout,
    Select
  },

  data: () => ({
    form: {
      email: null,
      password: null,
      name: null,
      age: null,
      weight: null,
      height: null,
      genderType: null,
      lifeStyleType: null
    },
    dietTypeOptions,
    genderTypeOptions,
    lifeStyleTypeOptions
  }),

  computed: {
    dateOfBirth () {
      const now = new Date()
      const age = this.form.age && +this.form.age
      now.setFullYear(now.getFullYear() - age)
      return now.toISOString()
    },

    formInvalid () {
      return !(
        this.form.email &&
        this.form.password &&
        this.form.name &&
        this.form.age &&
        this.form.weight &&
        this.form.height &&
        (this.form.genderType && this.form.genderType.value) &&
        (this.form.lifeStyleType && this.form.lifeStyleType.value) &&
        (this.form.dietType && this.form.dietType.value)
      )
    }
  },

  methods: {
    proceedSignup () {
      const data = {
        email: this.form.email,
        password: this.form.password,
        name: this.form.name,
        age: this.form.age,
        dateOfBirth: this.dateOfBirth,
        weight: this.form.weight,
        growth: this.form.height,
        dietId: (this.form.dietType && this.form.dietType.value),
        gender: (this.form.genderType && this.form.genderType.value),
        lifestyle: (this.form.lifeStyleType && this.form.lifeStyleType.value)
      }

      this.$http.post('api/user', data).then(res => {
        router.push({ path: '/' })
      })
    }
  }
}
</script>

<style lang="less">
@import '../styles/vars';

.l-signup {

  &__flex {
    display: flex;
    flex-direction: row;
  }

    &__col {
      .input {
        font-size: 2.5em;
      }

      .input__control {
        text-align: center;
      }
    }

    &__col + &__col {
      margin-left: @unit/2;
    }
}

.signup {
  &__footer {
    // Apply consistent padding to easy breeze.
    padding-bottom: @unit;

    // Pull link to the right;
    text-align: right;
  }

  &__submit {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  &__button {
    width: 80%;
    min-width: 80%;
  }
}
</style>
