<template>
  <main-layout class="l-page_nowrap">
    <section class="l-page__main stats">
      <navbar class="l-page__navbar"></navbar>

      <div class="l-page__wrapper">
        <h1 class="stats__h1 h1">Weight progress</h1>

        <weight-chart
          class="stats__chart"
          :rawData="weightMeasures"
          :options="options"
        >
        </weight-chart>

        <footer class="stats__footer">
          <p class="stats__lead">
            Track your calories consumption and weight progress
          </p>

          <template v-if="!showForm">
            <Button
              class="stats__button"
              @click.native="showForm = true"
            >
              Measure weight
            </Button>
          </template>

          <template v-else>
            <form
              novalidate=true
              class="form stats__form"
              @submit.prevent="saveWeight"
            >

              <div class="form__line">
                <Input
                  type="weight"
                  name="weight"
                  :value="form.weight"
                  v-model="form.weight"
                  label="What is your weight today?"
                  placeholder="Your weight"
                  validators="required|numeric"
                />
              </div>

              <div class="form__line">
                <Button
                  class="stats__button"
                  @click.native.prevent="saveWeight"
                >
                  Save your weight
                </Button>
              </div>

            </form>
          </template>
        </footer>

      </div>
    </section>

    <footer-nav class="l-page__footer"></footer-nav>
  </main-layout>
</template>

<script>
import MainLayout from '../layouts/Main.vue'
import FooterNav from '../components/FooterNav.vue'
import Navbar from '../components/Navbar.vue'
import WeightChart from '../components/WeightChart.vue'
import Input from '../components/Input.vue'
import Button from '../components/Button.vue'

export default {
  components: {
    Input,
    Button,
    MainLayout,
    FooterNav,
    Navbar,
    WeightChart
  },

  data: () => ({
    showForm: false,

    form: {
      weight: null
    },

    weightMeasures: [],

    options: {
      responsive: true,
      tooltips: {
        mode: 'single'
      },
      scales: {
        xAxes: [{
          offset: false,
          gridLines: {
            display: false,
            color: '#705dbd',
            lineWidth: 3
          },
          ticks: {
            display: true
          }
        }],
        yAxes: [{
          offset: true,
          gridLines: {
            display: false,
            color: '#705dbd',
            lineWidth: 3
          },
          ticks: {
            display: true
          }
        }]
      }
    }
  }),

  methods: {
    saveWeight () {
      this.showForm = false

      const data = {
        weight: this.form.weight,
        createdAt: (new Date()).toISOString()
      }

      return this.$http.put('api/user/weight', data).then(
        () => this.weightMeasures.push(data)
      )
    },

    loadWeightMeasured () {
      return this.$http.get('api/history/weight')
    }
  },

  mounted () {
    this.loadWeightMeasured().then(res => {
      this.weightMeasures = res.body
    })
  }
}
</script>

<style lang="less" scoped>
@import '../styles/vars';

.stats {

  &__lead {
    margin-top: 2*@unit;
    margin-bottom: @unit;

    font-size: @classy-lead-font-size;
    line-height: 1.4;
    text-align: center;
  }

  &__chart {}

  &__button {
    display: block !important;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: @unit;
  }
}
</style>
