<template>
  <button
    class="button button_theme_dietify"
    :disabled="disabled"
    :class="{
      button_disabled: disabled,
      button_focused: focused,
      button_active: active
    }"
    @focus="focused = true"
    @blur="focused = false"
  >
    <slot></slot>
  </button>
</template>

<script>
export default {
  data: () => ({
    focused: false,
    active: false,
    disabled: false
  })
}
</script>

<style lang="less" scoped>
@import '../styles/vars';
</style>
