<script>
import { Doughnut, mixins } from 'vue-chartjs'

export default {
  extends: Doughnut,
  mixins: [mixins.reactiveProp],
  props: ['options', 'chartData'],

  mounted () {
    this.renderChart(this.chartData, this.options)
  }
}
</script>

<style lang="less" scoped>
</style>
