<template>
  <section
    class="diet"
    :class="{
      diet_type_1: diet.type === 1,
      diet_type_2: diet.type === 2,
      diet_type_3: diet.type === 3,
      diet_type_4: diet.type === 4
    }"
  >
    <main class="diet__main">
      <header class="diet__header">
        <h1 class="diet__h1">
          Choose your program
        </h1>
      </header>

      <ul class="nav diet__nav">
        <li class="nav__item">
          <span class="nav__link link diet__link diet__link_prev">prev</span>
        </li>

        <li class="nav__item">
          <span class="nav__link link diet__link diet__link_next">next</span>
        </li>
      </ul>

      <h2 class="diet__name">
        {{ diet.name }}
      </h2>

      <slot></slot>
    </main>

    <footer class="diet__footer">
      <button class="button button_theme_dietify diet__button">
        Get started
      </button>
    </footer>
  </section>
</template>

<script>
export default {
  data: () => ({
    diet: {
      name: null,
      type: null
    }
  })
}
</script>

<style lang="less" scoped>
@import '../styles/vars';

.diet {
  display: flex;

  &__header {
    padding-top: @unit;
    padding-bottom: @unit;

    background: white;
  }

  &__h1 {
    font-weight: bold;
  }

  &__main {
    flex: 1;
  }

  &__name {
    font-size: @h2;
    font-weight: bold;
  }

  &__footer {
    padding-top: @unit;
    padding-bottom: @unit;

    text-align: right;
  }

  &_type_1 { background-color: #55ccf2; }
  &_type_2 { background-color: #eb5756; }
  &_type_3 { background-color: #6ecf96; }
  &_type_4 { background-color: #f29949; }
}
</style>
