<template>
  <nav>
    <ul class="nav nav_fit main-nav">
      <li
        v-for="item in items"
        :key="item.linkText"
        class="nav__item"
      >
        <router-link :to="item.link" class="nav__link main-nav__link">
          {{ item.linkText }}
        </router-link>
      </li>

      <li
        class="nav__item"
      >
        <a
          @click="logout"
          href="javascript:void(0);"
          class="nav__link main-nav__link">
          Qu
        </a>
      </li>
    </ul>
  </nav>
</template>

<script>
export default {
  data: () => ({
    items: [
      { linkText: 'Me', link: '/menu' },
      { linkText: 'Rp', link: '/diet' },
      { linkText: 'St', link: '/stats' },
      { linkText: 'Br', link: '/barcode' },
      { linkText: 'Pr', link: '/profile' }
    ]
  }),

  methods: {
    logout () {
      this.$auth.logout()
    }
  }
}
</script>

<style lang="less" scoped>
@import '../styles/vars';

@import '~classy-clearfix/clearfix';
@import '~classy-nav/nav';

.main-nav {
  #palette;

  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 3em;
  padding: 0;

  background-color: @c0;
  border-top: solid 1px darken(@c1, 5);
  box-shadow: 0 0 5em 2em rgba(0,0,0,.02);
  text-align: center;

  .nav__item {
    width: (100% / 6);
  }

  &__link {
    color: @c7;
    font-weight: bold;
    font-size: @classy-lead-font-size;
    padding-top: @unit/2;

    // Remove any text decoration from links.
    text-decoration: none;
    border-bottom: none;

    &_active,
    &.router-link-exact-active {
      color: @c3;
    }
  }
}
</style>
