<template>
  <svg version="1.0" xmlns="http://www.w3.org/2000/svg" class="i i-dietify"
   width="1452.000000pt" height="868.000000pt" viewBox="0 0 1452.000000 868.000000"
   preserveAspectRatio="xMidYMid meet">
  <g transform="translate(0.000000,868.000000) scale(0.100000,-0.100000)">
  <path d="M10993 7485 c-219 -61 -403 -256 -588 -620 -282 -553 -486 -1406
  -545 -2274 -12 -178 -8 -170 -154 -309 -122 -115 -194 -144 -266 -107 -40 21
  -59 61 -72 155 -15 102 4 258 73 594 92 451 106 567 73 615 -29 41 -89 61
  -185 61 -182 0 -238 -50 -299 -265 -66 -236 -126 -566 -145 -802 l-7 -83 -103
  -98 c-158 -151 -276 -202 -438 -189 -181 14 -291 124 -338 338 -27 125 -41
  354 -33 550 l7 166 316 6 c239 4 331 9 379 21 174 44 250 132 240 279 -3 42
  -10 64 -26 80 -22 21 -30 22 -278 25 l-256 3 94 97 c290 302 418 603 418 980
  0 305 -127 505 -329 520 -153 11 -279 -45 -422 -187 -200 -200 -359 -511 -473
  -926 -31 -113 -89 -381 -98 -455 l-3 -25 -152 -5 c-174 -6 -191 -13 -231 -92
  -30 -59 -33 -180 -5 -236 27 -56 69 -72 211 -79 l119 -6 -1 -296 -2 -296 -110
  -111 c-130 -132 -236 -213 -371 -282 -146 -75 -239 -103 -358 -109 -161 -9
  -285 33 -364 123 -22 26 -41 50 -41 54 0 4 17 11 38 15 70 13 274 84 367 129
  241 114 385 270 441 477 26 97 24 255 -4 345 -53 173 -183 290 -361 325 -77
  15 -266 7 -346 -15 -421 -115 -712 -575 -680 -1076 l7 -105 -91 -91 c-110
  -111 -174 -149 -238 -141 -86 9 -123 81 -123 240 0 114 18 235 85 566 66 328
  89 479 81 524 -8 45 -48 84 -100 98 -64 17 -213 7 -262 -18 -73 -38 -100 -94
  -159 -318 -94 -356 -144 -750 -125 -970 29 -335 157 -516 394 -556 192 -32
  387 42 603 231 l83 72 56 -61 c105 -114 247 -190 424 -227 125 -27 373 -25
  496 3 234 55 484 196 671 380 l83 82 29 -64 c119 -261 338 -405 641 -422 239
  -13 435 57 639 227 36 30 66 49 68 43 18 -52 88 -144 142 -185 178 -137 451
  -109 693 70 31 23 60 42 63 42 3 0 5 -42 5 -94 0 -321 59 -775 126 -976 56
  -166 148 -291 250 -340 67 -33 190 -39 269 -14 171 53 298 232 355 500 31 143
  38 449 16 684 -22 232 -52 457 -80 608 -12 67 -19 122 -14 122 4 0 50 -7 100
  -16 66 -12 132 -15 228 -12 l135 4 2 -101 c5 -252 104 -455 262 -532 48 -24
  68 -28 141 -28 74 0 93 4 150 31 147 70 279 242 350 457 12 38 23 67 25 65 5
  -5 -69 -486 -76 -492 -608 -463 -943 -844 -1029 -1171 -27 -102 -37 -282 -20
  -356 38 -162 167 -290 326 -324 94 -20 167 -19 259 5 247 63 438 283 598 690
  148 377 258 837 362 1515 20 127 71 444 114 705 102 614 108 658 87 698 -22
  42 -68 55 -180 50 -154 -7 -217 -57 -262 -208 -67 -226 -141 -447 -185 -559
  -100 -251 -227 -465 -302 -512 -45 -27 -94 -22 -121 14 -19 25 -21 41 -19 140
  2 140 54 449 124 738 61 255 67 295 46 336 -24 46 -61 56 -180 51 -146 -7
  -207 -38 -262 -133 -41 -69 -115 -325 -154 -530 l-18 -90 -49 -8 c-27 -5 -177
  -9 -332 -10 l-284 -2 -56 -60 c-66 -71 -109 -144 -121 -209 -6 -36 -3 -70 15
  -154 32 -145 91 -498 109 -657 22 -182 30 -546 16 -665 -14 -113 -47 -194 -87
  -212 -23 -11 -28 -10 -44 10 -60 73 -94 504 -94 1182 0 343 4 483 17 608 l16
  163 132 137 c535 554 860 1092 959 1587 33 165 39 417 12 547 -37 177 -124
  313 -235 367 -61 30 -180 37 -254 16z m88 -415 c30 -40 42 -132 36 -265 -19
  -395 -204 -849 -511 -1254 -41 -53 -92 -116 -115 -141 -36 -39 -41 -42 -36
  -20 2 14 16 88 30 165 133 716 343 1380 481 1518 36 36 88 34 115 -3z m-2643
  -243 c13 -13 27 -39 32 -58 15 -50 12 -254 -4 -329 -32 -148 -115 -340 -207
  -476 -52 -78 -233 -274 -243 -264 -8 9 60 394 97 550 69 286 155 499 228 565
  46 41 67 44 97 12z m-1840 -1637 c50 -31 72 -75 72 -146 0 -33 -7 -82 -16
  -108 -22 -63 -109 -156 -194 -207 -66 -39 -244 -109 -277 -109 -14 0 -15 12
  -10 98 12 214 112 408 242 468 64 30 137 32 183 4z m5367 -2037 c-48 -191
  -132 -447 -184 -558 -84 -181 -175 -285 -247 -285 -79 0 -114 47 -114 152 0
  166 101 367 285 568 81 89 287 282 293 275 2 -2 -13 -70 -33 -152z"/>
  <path d="M2720 7169 c-203 -19 -481 -79 -672 -145 -211 -73 -485 -222 -541
  -296 -107 -139 -75 -373 53 -399 48 -10 92 4 192 64 277 164 573 270 866 311
  146 21 420 21 536 1 223 -39 391 -121 526 -255 174 -175 246 -363 257 -675 21
  -583 -176 -1090 -526 -1356 -87 -66 -264 -153 -376 -184 -183 -52 -417 -74
  -639 -60 l-119 7 7 82 c39 467 197 1309 327 1735 62 204 57 261 -29 303 -63
  30 -221 37 -311 14 -133 -34 -164 -72 -215 -262 -172 -635 -347 -1637 -350
  -1994 -1 -166 6 -190 75 -240 49 -35 126 -53 324 -76 207 -25 594 -25 760 -1
  260 38 477 104 683 208 550 277 875 769 963 1454 21 162 16 497 -9 635 -108
  592 -491 972 -1106 1095 -212 42 -459 55 -676 34z"/>
  <path d="M5217 6480 c-99 -25 -203 -105 -242 -185 -12 -25 -21 -68 -23 -117
  -7 -135 39 -223 146 -275 53 -26 66 -28 177 -28 141 0 203 19 278 86 124 108
  144 327 40 434 -59 61 -130 88 -242 91 -53 2 -113 -1 -134 -6z"/>
  <path d="M9330 6475 c-73 -21 -127 -54 -179 -110 -59 -64 -75 -105 -75 -200
  -1 -106 20 -161 84 -218 63 -57 116 -72 250 -72 115 0 171 15 246 66 48 33 99
  105 116 163 19 71 14 177 -11 229 -28 57 -88 110 -150 132 -66 24 -213 29
  -281 10z"/>
  </g>
  </svg>
</template>

<script>
export default {}
</script>

<style lang="less" scoped>
.i {
  fill: currentColor;
}
</style>
