<template>
  <div
    class="form__control">

    <template v-if="showLabel">
      <label
        class="form__label label label_block"
        :for="name"
        :class="{
          label_error: invalid
        }"
      >
        {{ labelText }}
      </label>
    </template>

    <div
      class="form__input input input_block input_theme_dietify"
      :disabled="disabled"
      :class="{
        input_focused: focused,
        input_disabled: disabled,
        input_invalid: invalid
      }"
    >
      <span class="input__box">
        <input
          class="input__control"
          :type="type"
          :placeholder="placeholder"
          :name="name"
          :id="name"
          :value="value"
          v-validate.lazy="validators"
          @focus="focused = true"
          @blur="focused = false"
          @input="updateValue($event.target.value)"
        >
      </span>
    </div>

    <div
      v-show="invalid"
      class='form__note form__note_error'
    >
      {{ errors.first(name) }}
    </div>
  </div>

</template>

<script>
export default {
  props: {
    value: {
      type: String,
      default: null
    },
    validators: {
      type: String,
      default: ''
    },
    type: {
      type: String,
      default: 'text'
    },
    name: {
      type: String
    },
    label: {
      type: String,
      default: null
    },
    placeholder: {
      type: String,
      default: ''
    },
    showLabel: {
      type: Boolean,
      default: true
    }
  },

  data: () => ({
    focused: false,
    disabled: false
  }),

  computed: {
    invalid: function () {
      return this.errors.has(this.name)
    },

    labelText: function () {
      return this.label || this.placeholder
    }
  },

  methods: {
    updateValue (val) {
      this.$emit('input', val)
    }
  }
}
</script>

<style lang="less" scoped>
@import '../styles/vars';
@import '../styles/form/form';
@import '../styles/form/label';

@import '~classy-input/input';
@import '../styles/input/input_theme_dietify';
</style>
