<template>
  <div class="load-screen">
    <h1 class="h1 load-screen__title">
      Dietify
    </h1>

    <Identity class="load-screen__logo"/>
  </div>
</template>

<script>
import Identity from '../components/Identity.vue'

export default {
  components: {
    Identity
  }
}
</script>

<style lang="less" scoped>
@import '../styles/vars';

#palette;

.load-screen {

  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100vh;

  color: white;
  background-color: @c3;

  animation: colorchange 3s infinite;
  transition: all ease-in 1s;

  &__title {
    display: none;
  }

  &__logo {
    width: 75%;
    height: auto;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
}

@keyframes colorchange {
  0%   { background-color: @c3; }
  25%  { background-color: #8375b9; }
  50%  { background-color: #a575b9; }
  75%  { background-color: #8375b9; }
  100% { background-color: @c3; }
}
</style>
