<template>
  <nav class="navbar">
    <router-link to="/stats" class="navbar__link">
      <Identity class="navbar__logo" />
    </router-link>
  </nav>
</template>

<script>
import Identity from './Identity.vue'

export default {
  components: {
    Identity
  }
}
</script>

<style lang="less" scoped>
@import '../styles/vars';

.navbar {
  #palette;

  @x: 3em;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: @x;

  background-color: @c0;
  box-shadow: 0 0 5em 2em rgba(0,0,0,.02);
  border-bottom: solid 1px darken(@c1, 5);

  &__logo {
    @y: .3em;

    display: block;
    position: relative;
    height: (@x - @y);
    width: 20%;
    top: @y;
    margin-left: auto;
    margin-right: auto;
  }

  &__link {
    color: @c7;
  }
}
</style>
