<template>
  <span class="number">
    <span class="number__value">{{ value }}</span>&thinsp;<span
          class="number__text">{{ text }}</span>
  </span>
</template>

<script>
export default {
  props: ['value', 'text']
}
</script>

<style lang="less" scoped>
@import '../styles/vars';
@import '~classy-heading/heading';

.number {

  &__value {
    font-weight: bold;
  }

  &__text {
    font-weight: normal;
  }
}
</style>
