<template>
  <article class="product">
    <h1 class="product__name">
      {{ product.name }}
      <small
        v-if="product.amount"
        class="product__amount">
        (<number :value="product.amount" text="g" />)
      </small>
    </h1>

    <ul
      v-if="parts"
      class="product__list"
    >
      <li
        v-for="part in parts"
        :key="part.id"
        class="product__item">
        <span class="product__key">{{ part.name }}:</span>

        <span class="product__val">
          <number :value="part.value" text="g" />
        </span>
      </li>
    </ul>

    <slot></slot>
  </article>
</template>

<script>
import Number from './Number.vue'

export default {
  components: {
    Number
  },
  props: ['product'],

  computed: {
    parts () {
      return [
        { name: 'Fats', value: this.product.fats_100g },
        { name: 'Proteins', value: this.product.proteins_100g },
        { name: 'Carbohydrates', value: this.product.carbohydrates_100g }
      ]
    }
  }
}
</script>

<style lang="less" scoped>
@import '../styles/vars';
@import '~classy-heading/heading';

.product {
  #palette;

  padding: @unit/2;

  background-color: @c0;

  &__name {
    margin: 0;
    padding-top: @unit/4;
    padding-bottom: @unit/4;

    font-size: @classy-h3-size;
    font-weight: normal;
  }

  &__amount {
    font-size: @classy-small-font-size;
  }

  &__list {
    margin: 0;
  }

  &__item {
    font-size: @classy-small-font-size;
  }
}
</style>
