<template>
  <div>
    <strong class="profile__calorieused">
      {{ roundCalorieUsed }}
    </strong>

    <div class="profile__calorieusedtext">
      calories taken today
    </div>
  </div>
</template>

<script>
export default {
  props: ['calorieUsed'],

  computed: {
    roundCalorieUsed () {
      return Math.floor(this.calorieUsed)
    }
  }
}
</script>

<style lang="less" scoped>
@import '../styles/vars';

.profile {
  #palette;

  &__calorieused {
    display: block;

    font-size: 2em;
    line-height: 1.4;

    @color: @c7;
  }

  &__calorieusedtext {
    font-size: @classy-small-font-size;

    color: @c7;
  }
}
</style>
