<template>
  <div class="diet">
    <ul class="list diet__list">
      <li
        v-for="part in roundParts"
        :key="part.name"
        class="diet__item">
        <div class="diet__name">
          {{ part.name }}:
        </div>

        <div class="diet__val">
          {{ part.value }}&thinsp;<span class="diet__unit">g</span>
        </div>
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  props: ['parts'],

  computed: {
    roundParts () {
      return this.parts.map(p => ({
        name: p.name,
        value: Math.floor(p.value)
      }))
    }
  }
}
</script>

<style lang="less" scoped>
@import '../styles/vars';
@import '~classy-list/list';

.diet {

  &__list {
    padding-left: 0;
  }

  &__item {
    margin-bottom: @unit/2;
    list-style: none;
    font-size: @classy-small-font-size;
  }

  &__name {
    display: inline-block;
    float: left;

    font-weight: bold;
  }

  &__val {
    display: inline-block;
    margin-left: @unit/4;
  }
}
</style>
