<template>
  <div class="form__control">
    <template v-if="showLabel">
      <label
        class="form__label label label_block"
        :for="name"
        :class="{
          label_error: invalid
        }"
      >
        {{ labelText }}
      </label>
    </template>

    <v-select
      :options=options
      :value="value"
      :name="name"
      :class="{
        select_disabled: disabled,
        select_invalid: invalid
      }"
      v-validate:value.lazy="validators"
      class="select select_block select_theme_dietify"
      @input="$emit('input', $event)"
    >
    </v-select>
  </div>
</template>

<script>
import vSelect from 'vue-select'

export default {
  components: {
    vSelect
  },

  props: {
    value: {},
    selected: {},
    validators: {
      type: String,
      default: ''
    },
    name: {
      type: String
    },
    label: {
      type: String,
      default: null
    },
    showLabel: {
      type: Boolean,
      default: true
    },
    options: {
      type: Array,
      default: () => ([])
    }
  },

  data: () => ({
    focused: false,
    disabled: false
  }),

  computed: {
    invalid () {
      return this.errors.has(this.name)
    },

    labelText () {
      return this.label
    }
  }
}
</script>

<style lang="less">
@import '../styles/vars';
@import '../styles/form/form';
@import '../styles/form/label';
@import '../styles/select/select';
@import '../styles/select/select_theme_dietify';
</style>
