<script>
import { Line, mixins } from 'vue-chartjs'

function formatDate (date) {
  const ms = Date.parse(date)
  return (new Date(ms)).toLocaleDateString()
}

export default {
  extends: Line,
  mixins: [mixins.reactiveProp],
  props: ['rawData', 'options'],

  mounted () {
    this.renderChart(this.chartData, this.options)
  },

  computed: {
    chartData: function () {
      return {
        labels: this.rawData.map(i => formatDate(i.createdAt)),
        datasets: [
          {
            label: 'Weight',
            borderColor: '#2e9cdc',
            backgroundColor: '#2e9cdc14',
            borderWidth: 2,
            pointBackgroundColor: '#fff',
            pointBorderWidth: 1,
            pointHoverBorderWidth: 2,
            pointHoverRadius: 5,
            pointHoverBackgroundColor: '#fff',
            data: this.rawData.map(i => i.weight)
          }
        ]
      }
    }
  }
}
</script>

<style lang="less" scoped>
</style>
