

.form {


  &__line {
    margin-bottom: @unit/2;
  }


  &__control {}


  &__label {
    margin-bottom: @unit / 4;
  }
}


// Form note.
//
// By type:
//
// .form__note_error - Used to show error message.
// .form__note_warning - Used to show warning message.
.form__note {
  #palette;


  // Add a little padding to each note for better readability.
  padding-top: @unit/8;
  padding-bottom: @unit/8;

  // Reduce font size, to ensure the big notes looks good.
  font-size: @small-font-size;


  &_error {
    color: @c5;
  }


  &_warning {
    color: @c6;
  }
}
