// Form label.
//
// .label_block - To ensure the label occupy the all available width.
//
// By type:
//
// .label_error - Used to indicate invalid input.


.label {
  #palette;


  display: inline-block;

  // Ensure the font and colours are inherited.
  color: inherit;
  font: inherit;


  &_block {
    display: block;
  }


  &_error {
    color: @c5;
  }
}
