<template>
  <div id="app" class="page">
    <div v-if="$auth.ready()">
      <router-view></router-view>
    </div>

    <div v-if="!$auth.ready()">
      <load-screen></load-screen>
    </div>
  </div>
</template>

<script>
import Vue from 'vue'
import VeeValidate from 'vee-validate'
import VueResource from 'vue-resource'
import router from './router'
import LoadScreen from './components/LoadScreen.vue'

Vue.use(VeeValidate)

Vue.router = router

Vue.use(VueResource)
Vue.http.options.root = 'http://127.0.0.1:3000'

Vue.use(require('@websanova/vue-auth'), {
  auth: require('@websanova/vue-auth/drivers/auth/bearer.js'),
  http: require('@websanova/vue-auth/drivers/http/vue-resource.1.x.js'),
  router: require('@websanova/vue-auth/drivers/router/vue-router.2.x.js'),
  authRedirect: { path: '/login' },
  loginData: { url: 'api/user/login' },
  fetchData: { url: 'api/user' },
  registerData: { url: 'api/user', method: 'POST' },
  logoutData: { redirect: '/', makeRequest: false },
  refreshData: { enabled: false }
})

export default {
  name: 'App',
  components: {
    LoadScreen
  }
}
</script>

<style lang="less">
@import '~classy-border-box/border-box';
@import '~classy-page/page';
@import '~classy-heading/heading';
@import '~classy-list/list';

@import './styles/vars';
@import './styles/link';

@import './styles/blank/blank';
@import './styles/form/form';
@import './styles/form/label';

@import '~classy-button/button';
@import './styles/button/button_theme_dietify';

@import './styles/select/select';
@import './styles/select/select_theme_dietify';

@import '~classy-input/input';
@import './styles/input/input_theme_dietify';

html, body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

.page {
  #palette;

  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  min-height: 100vh;

  color: @c9;
  background: @c1;
}

.l-page {
  display: flex;
  min-height: 100vh;
  flex-direction: column;

  @x: 3em;

  &__main {
    flex: 1;
    margin-top: @x;
    margin-bottom: @x;
  }

  &__footer {}

  &__wrapper {
    // min-height: calc(100vh - 2*@x);
    // display: flex;
    // flex-direction: column;

    margin-left: 7%;
    margin-right: 7%;
  }
}
</style>
