<template>
  <div
    class="l-page"
  >
    <slot></slot>
  </div>
</template>

<script>
</script>

<style lang="less" scoped>
@import '../styles/vars';

.l-page {
  max-width: 600px;
  min-height: 100vh;
  margin: 0 auto;
  padding: @unit 2 * @unit;
}

.l-page_nowrap {
  padding: 0;
}
</style>
